.pragmatic_header_logo {
    margin : 2rem 0;
    font-family: 'Pacifico', cursive;
}

.pragmatic_header_button {
    margin-bottom: 2rem;
}

.pragmatic_footer_button{
    margin: 1.5rem;
    font-size:0.8rem;
}

.pragmatic_footer_logo{
    font-family: 'Pacifico', cursive;
}

.mw-500{
    max-width: 500px;
    padding:1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNB_B {
    font-family: 'NanumSquareB', cursive;
}


.article_image {
    border-radius: 2rem;
    width:70%;
    box-shadow: 0 0 .5rem grey;
}

.article_content {
    font-size: 1.1rem;
    text-align: left;
    margin: 2rem;
}